bt_executer:

  kuka_wait_test:
    wait_ms: 5000 #ms

  kuka_trajectory_loader_test:
    group_name: "kuka"
    trj_names: ["kuka_trj_test"]
    fjt_action_name: "/kuka_scaled_fjt_controller/follow_joint_trajectory"
    repetitions: 3
    recompute_time_law: True
    simulation: False
    speed_scaling_topic: "/kuka_speed_ovr"
    scaling: 100

  kuka_move_to_test:
      group_name: "kuka"
      world_name: "world"
      ik_service_name: "/rosdyn_ik_solver/get_ik" #"/kuka_ik_solver/get_ik" #"/rosdyn_ik_solver/get_ik"
      location_name: "foo_location"
      fjt_action_name: "/kuka_scaled_fjt_controller/follow_joint_trajectory"
      simulation: False
      speed_scaling_topic: "/kuka_speed_ovr"
      scaling: 100
  
